<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Project #2 - Image Gallery Pop up</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style.css" />

</head>

<body>
  <div id="box_main">
    <nav class="navbar hover_show navbar-expand-sm  navbar-dark" style="transition:0.5s">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="#">Menu</a>

      <!-- Links -->
      <ul class="navbar-nav" v-for="navBox in navBoxs">
        <li class="nav-item">
          <a class="nav-link" href="#" :data-id="navBox.sectionName" @click="scrollToElement">{{navBox.nameView}}</a>
        </li>
      </ul>
    </nav>

    <section class="gallery">
      <!-- Image 1 -->
      <div class="img-container" v-for="imageBox in imageBoxs">
        <img :src="imageBox.imageIndex" :alt="imageBox.imageAlt" @click="isClickShow(imageBox.imageAlt)" />
      </div>
    </section>

    <!-- modal -->
    <div class="modal_new " :class="addOpen" @click="closeModal">
      <img :src="changeImage" alt="" class="full-img" />
    </div>

    <div class="box_item_scroll">
      <div id="sectionGallery" ref="sectionGallery" class="container-fluid bg-success"
        style="padding-top:70px;padding-bottom:70px">
        <h1>Gallery</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and
          look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and
          look at the navigation bar while scrolling!</p>
      </div>
      <div id="sectionBooks" ref="sectionBooks" class="container-fluid bg-warning"
        style="padding-top:70px;padding-bottom:70px">
        <h1>Books</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and
          look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and
          look at the navigation bar while scrolling!</p>
      </div>
      <div id="sectionStudents" ref="sectionStudents" class="container-fluid bg-secondary"
        style="padding-top:70px;padding-bottom:70px">
        <h1>Students</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and
          look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and
          look at the navigation bar while scrolling!</p>
      </div>
      <div id="sectionColors" class="container-fluid bg-while" style="padding-top:70px;padding-bottom:70px">
        <h1>Colors</h1>
        <div class="row box_show_change">
          <p class="text_color">Tet show color: </p>
          <div class="box_show_color" :style="changeColorShow"></div>
        </div>
        <div class="box_change">

          <div class="box_color">
            <p class="font-weight-bold">Chuyển đổi tùy chọn</p>
            <label for="color_1">Color 1</label>
            <input @input="changeCustom" type="range" min="0" max="255" :value="color1" id="color_1" name="points1">

          </div>
          <div class="box_color">
            <label for="color_2">Color 2</label>
            <input @input="changeCustom" type="range" min="0" max="255" :value="color2" id="color_2" name="points2">
          </div>
          <div class="box_color">
            <label for="color_3">Color 3</label>
            <input @input="changeCustom" type="range" min="0" max="255" :value="color3" id="color_3" name="points3">
          </div>
          <div class="box_btn_change">
            <p class="font-weight-bold">Chuyển đổi ngẫu nhiên</p>
            <button class="btn_change_random btn btn-success" @click="randomColor">Chuyển đổi</button>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- jQuery library -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <!-- Popper JS -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
  <!-- Latest compiled JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
  <!-- my js -->
  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>